<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setLayout(~{this::links}, ~{this::content})}">

	<th:block th:fragment="links">
		<th:block th:replace="~{common/links}"></th:block>
	</th:block> 
	
	<th:block th:fragment="content">

<div class="card m-2">
	<div class="card-header">
		요청 URL 문제
	</div>
	<div class="card-body">
		<p>요청 URL이 잘못 구성 되었습니다.</p>
		<div>
			<a href="${pageContext.request.contextPath}/" class="btn btn-danger btn-sm">홈으로가기</a>
		</div>
	</div>
</div>

</th:block>
</th:block>
</html>